.alert{
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.thin-border{
    display: none;
}

#btn-border{
    color: white;
    background: #106cff;

}

.accordion-card{
    margin-left: 1rem;
    margin-right: 1rem;
}
